{% extends 'bootstrap-layout.html' %}

{% load static %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}

    <main class="form-signin w-50 m-auto">
        <form action="/signin" method="POST">
            <div class="text-center">
                <img class="mb-5" src="{% static 'img/pet-store-logo-design.jpg' %}" alt="" width="72" height="62">
                <h1 class="h3 mb-5 fw-normal">Sign In</h1>
            </div>

            <div class="form-floating">
                <input id="floatingInput" type="email" class="form-control" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <br/>

            <div class="form-floating">
                <input id="floatingPassword" type="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <br/>
            <br/>

            <button class="btn btn-primary w-100 py-3" type="submit">Sign in</button>
        </form>
    </main>

{% endblock %}