<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Index Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.materia.css' %}" >
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.morph.css' %}" >#}
    <link rel="stylesheet" href="{% static 'css/custom-petstore.css' %}" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js" defer></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
</head>
<body class="container d-flex align-items-center py-5 bg-body-tertiary">
    <main class="form-signin w-50 m-auto">
        <form>

            <div class="text-center">
                <img class="mb-5" src="{% static 'img/pet-store-logo-design.jpg' %}" alt="" width="72" height="62">
                <h1 class="h3 mb-5 fw-normal">Sign In</h1>
            </div>

            <div class="form-floating">
                <input id="floatingInput" type="email" class="form-control" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <br/>

            <div class="form-floating">
                <input id="floatingPassword" type="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <br/>
            <br/>

            <button class="btn btn-primary w-100 py-3" type="submit">Sign in</button>
        </form>
    </main>
</body>